.modal{
    position: absolute;
    flex: 1;
   
    position: absolute;

    margin-top: 250px;
    left: 50%;
    transform: translate(-50%);

    border-color: solid #000;

    width: 400px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;

    background-color: white;
    h2{
        color: #000;
        text-align: center;
    }

    img{
        width: 240px;
        height: 200px;
    }
}

.modalContent{
    width: 350px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalFooter{
    
}