.modal{
    position: absolute;
    flex: 1;
   
    position: absolute;

    margin-top: 200px;
    left: 50%;
    transform: translate(-50%);

    border-color: solid #000;

    width: 400px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;

    background-color: white;
    h1{
        color: #000;
        text-align: center;
    }

    img{
        width: 240px;
        height: 200px;
    }
}


.modalContent{
    width: 350px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalFooter{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    h2{
        color: #000;
        text-align: center;
    }

    h3{
        margin-top: 0.5rem;
        color: #000;
    }
    
    .footerButton{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;

        button{
            height: 3rem;
        }
    }
    
}